h1 {
	border-style: solid;
	text-align: center;
}

button {
	padding: 10px;
	margin: 5px;
}

canvas {
	width: 600px;
	height: 300px;
	border:1px solid #c3c3c3;
}

p {
	text-align: center;
}

#final {
	font-size: 40px;
	color: blue;
	font-weight: bold;
}

#guessWord {
	font-size: 35px;
}